WIREGUARD_ENDPOINT_IP=TU_IP_VPN
WIREGUARD_ENDPOINT_PORT=TU_PUERTO
WIREGUARD_PUBLIC_KEY=CLAVE_PUBLICA_SERVIDOR
WIREGUARD_PRIVATE_KEY=CLAVE_PRIVADA_CLIENTE
WIREGUARD_PRESHARED_KEY=CLAVE_PRESHARED
WIREGUARD_ADDRESSES=IP_DEL_CLIENTE/32
TZ=Europe/Madrid
